@(siteBaseURL: String, token: String)

@import services.DateUtil

<p>Dear user,</p>
<p>You recently requested a password reset for your CrowSoft Cairo account. To create a new password, click on the link below:</p>
<p><a href="@siteBaseURL/users/password/reset/@token">@siteBaseURL/users/password/reset/@token</a></p>
<p>This request was made on @DateUtil.formattedCurrentTime.</p>
<p>Regards,</p>
<p>CrowSoft Member Services</p>
<p>********************************************************</p>

<p>Please do not reply to this message. Mail sent to this address cannot be answered.</p>