*.class

# Package Files #
*.jar
*.war
*.ear

# intelij idea folder
**/.idea

*~
production.conf
dev.conf
dev-docker.conf
docker-compose-amazon.yml
copy_to_amazon.sh
docker-compose-old.yml

database/no_repo_scripts

web/cairo/logs
web/target

.DS_Store

database/backup/customers/*
database/backup/*salmax*.*
database/backup/sdi*.*

.settings
.project

\#*\#
.\#*
tmp/
web/cairo/app/client/extensions/*
all_functions.txt

target
