@(userForm: Form[newPasswordData])(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, loggedUser: LoggedUser)

@import helper._

@main("New Password") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>New Password</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-user"></i> New Password</legend>
            @form(routes.Users.sendResetPasswordEmail(), 'id -> "userForm", 'class -> "userForm") {
            @CSRF.formField
            @inputPassword(userForm("password"), args = 'id -> "passwordField", 'class -> "form-control form-control-signup", 'placeholder -> "New Password", '_label -> "Password", '_help -> "")
            @inputPassword(userForm("confirm"), args = 'id -> "confirmField", 'class -> "form-control form-control-signup", 'placeholder -> "Confirm Password", '_label -> "Confirm", '_help -> "")
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            }
        </div>
    </div>
</div>
}