@(userForm: Form[ResetPasswordData])(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, loggedUser: LoggedUser, requestOrigin: services.RequestOrigin)

@import helper._

@main("Reset Password", "") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Reset Password</h1>
        @flash.get("error").map { msg =>
        <div class="alert alert-warning">@msg</div>
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-user"></i> Reset password</legend>
            <p>Please specify your email address and we will send you a link to reset your password.</p>
            @form(routes.Users.sendResetPasswordEmail(), 'id -> "userForm", 'class -> "userForm") {
            @CSRF.formField
            @inputText(userForm("username"), args = 'id -> "usernameField", 'class -> "form-control form-control-sign-in", 'placeholder -> "Your User Name or Email", '_label -> "", '_help -> "")
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            }
        </div>
    </div>
</div>
}

