/* Select */

.select-empty-result-message {
  padding: 15px;
  color: red;
  font-weight: bold;
}

.select-invalid-input {
  border: 3px solid red !important;
}

/* TreeSelect */

/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

/*-------------------------------------*/

.tree-select-control {
    width: 100%;
    background: #fff;
    -moz-border-radius: 4px;
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/
    /*box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);*/

    border: 1px solid #cecece;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tree-select-control input {
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    height: 35px;
    float: left;
    border: 0;
    background: #fff;
    -moz-border-radius: 3px 0 0 3px !important;
    -webkit-border-radius: 3px 0 0 3px !important;
    border-radius: 3px 0 0 3px !important;
}

.tree-select-control-node {
    width: -moz-calc(100% - 105px) !important;
    width: -webkit-calc(100% - 105px) !important;
    width: calc(100% - 80px) !important;
    float: left;
    margin-left: 15px;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px !important;
    -webkit-border-radius: 3px 0 0 3px !important;
    border-radius: 3px 0 0 3px !important;
}

.tree-select-control-folder-icon {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}


.tree-select-control button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    width: 15px;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #3498db;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.tree-select-control button:hover{
    background: #3498db;
}

.tree-select-control button:active,
.tree-select-control button:focus{
    background: #3498db;
}

.tree-select-control button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #3498db transparent;
    top: 10px;
    left: -6px;
}

.tree-select-control button:hover:before{
    border-right-color: #3498db;
}

.tree-select-control button:focus:before{
    border-right-color: #3498db;
}

.tree-select-control button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.tree-select-dialog {
    background-color: #222;
    border-color: #cacaca;
    color: #fff;
    min-height: 400px;
}

.tree-select-dialog div {
  /* black */
  /*background-color: #222;*/
  background-color: white;
  /* black */
  /*border-color: #222;
  color: #fff;*/
}

.tree-select-dialog > div > span {
  /* black */
  /*background-color: #222;*/
  background-color: white;
  /* black */
  /*border-color: #222;
  color: #fff !important;*/
}

.tree-select-dialog > .ui-dialog-titlebar {
  background-color: #d9edf7;
  border-color: #bce8f1;
  border-radius: 4px;
}

.tree-select-dialog > .ui-dialog-titlebar > .ui-dialog-title {
  background-color: #d9edf7;
  color: #31708f;
}

.ui-widget-header .ui-state-default {
  background-color: #d9edf7;
}

.tree-select-dialog > div > span.ui-dialog-title {
  font-weight: normal;
  font-size: 24px;
}

div.tree-select-dialog.ui-widget-content {
  background: none;
  /* black */
  /*background-color: #222;*/
  background-color: white;
}

.tree-header {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #fff;
}

.tree-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.document-list-header {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #fff;
}

.document-list-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dialog-header  {
   padding-top: 7px;
   padding-bottom: 7px;
   background-color: #fff;
}

.dialog-header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tree-layout-tree-column {
    padding-top: 15px;
    background: #f8f8f8;
}

@media(min-width:992px){
  .tree-layout-tree-column {
      min-height: 650px;
  }
}

.tree-list-region {
  /*border-left: 1px solid #cecece !important;*/ /*black #464545 !important; */
  padding-top: 10px;
}

/* black */
/*
#tree-list-headers {
  background-color: #353535;
  border-top: 1px solid #505050;
  border-left: 1px solid #505050;
  border-right: 1px solid #505050;
}
*/
#tree-list-headers {
  background-color: #fefefe;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* black */
/*
#tree-list-headers th {
  border-bottom: 1px solid #505050;
}
*/
#tree-list-headers th {
  border-bottom: 1px solid #eeeeee;
}

.dataTables_scrollHead {
  padding-bottom: 10px;
}

.tree-select-dialog div .alert-info {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}

.select-header {
  background-color: #3498db !important;
  border-color: #3498db !important;
  padding: 10px !important;
  color: #fff;
}

.tree-select-button-select {
  text-align: right;
  float: right;
  padding-left: 25px;
}
/*
@media(max-width:767px){

  .tree-select-input {
    float: right;
    min-width: 200px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
}

@media(min-width:992px){

  .tree-select-input {
    float: right;
    min-width: 400px;
  }
}
*/

.tree-select-input {
  min-width: 310px;
  float: right;
}

/* -------------- input text control ------------*/

.input-text-control input {
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
    height: 35px;
    float: left;
    border: 0;
    background: #fff;
    -moz-border-radius: 3px 0 0 3px !important;
    -webkit-border-radius: 3px 0 0 3px !important;
    border-radius: 3px 0 0 3px !important;
}

.input-text-control button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    width: 15px;
    font: bold 15px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #3498db;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.input-text-control button:hover{
    background: #3498db;
}

.input-text-control button:active,
.input-text-control button:focus{
    background: #3498db;
}

.input-text-control button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #3498db transparent;
    top: 10px;
    left: -6px;
}

.input-text-control button:hover:before{
    border-right-color: #3498db;
}

.input-text-control button:focus:before{
    border-right-color: #3498db;
}

.input-text-control button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* -------------- dialogs ------------*/

.dialog-label {
    margin-top: 8px;
    margin-bottom: 1px;
    display: block;
    font-weight: normal;
}

.dialog-subtitle {
  color: #9B9696;
}

.dialog-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 10px 15px;
}

.dialog-input-control {
    font-size: 15px;
    line-height: 1.428571429;
    color: #464545;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cecece;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);*/
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dialog-textarea-control {
    height: 129px;
}

.dialog-container {
    padding: 0px;
}

.dialog-form-box {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.dialog-buttons-first-row {
    margin-bottom: 20px;
}

.document-list-container {
    padding: 0px;
}

.document-list-buttons-toolbar-row {
    padding: 10px 15px 0px 15px;
    background: #f8f8f8;
}

.tree-layout-buttons-toolbar-row {
    padding: 10px 15px 10px 15px;
    background: #f8f8f8;
}

.document-list-params {
    background: #f8f8f8;
    padding-bottom: 20px;
}

.document-list-params-box {
    padding-left: 15px;
}

.dialog-buttons-row {
    margin-bottom: 10px;
}

.dialog-buttons-last-row {
    margin-bottom: 40px;
}

.dialog-wide-button {
    min-width: 150px;
}

.dialog-button {
    margin-bottom: 10px;
}

.dialog-grid {
  margin-top: 10px;
}

.dialog-tr td {
    background-color: white;
}

.dialog-grid tbody tr.highlight td {
    background-color: #aaffaa;
}

.document-list-save-params {
    margin-top: 20px;
}

.dialog-tr {
  height: 37px;
}

/* black */
/*
.dialog-th td {
  color: white;
  background: #303030;

  border-left: 1px solid #464545 !important;
  border-right: 1px solid #464545 !important;
  border-bottom: 1px solid #464545 !important;
}
*/

.dialog-th td {
  color: black;
  background: #eeeeee;

  border-left: 1px solid #cccccc !important;
  border-right: 1px solid #cccccc !important;
  border-bottom: 1px solid #cccccc !important;
  height: 10px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.dialog-td {
  color: black;
  background: white;

  border-left: 1px solid #bbbbbb !important;
  border-right: 1px solid #bbbbbb !important;
  border-bottom: 1px solid #bbbbbb !important;
}

i.glyphicon-new {
  font-size: 0.8em;
}

/*------- jQuery issues ------------*/
.ui-datepicker{
  position: relative;
  z-index: 9999 !important;
} /* to avoid the calendar to be overlaped by other elements */

/* Interaction states
----------------------------------*/
/*
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #77d5f7;
	background: white;
	font-weight: normal;
	color: black;
}*/


.ui-datepicker td span, .ui-datepicker td a {
  color: black !important;
  background: white !important;
  border: none !important;
}

.ui-datepicker td a:hover {
  color: black !important;
  background: #cecece !important;
  border: none !important;
}

/*
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
  color: black !important;
  background: white !important;
  border: none !important;
}
*/

/*.ui-datepicker-calendar{ z-index: 9999 !important; } // to avoid the calendar to be overlaped by other elements
.hasDatepicker { position: relative; z-index: 9999; }*/

/* Footer */
.row-footer {
  margin-top: 20px;
}

.align-right {
  float: right;
  margin-right: 5px;
}

.align-right-first {
  float: right;
}

#mainTabBar {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f8f8f8;
  margin-top: 45px;
}

.tab-content {
  margin-top: 97px;
}

button.DTTT_button,
div.DTTT_button,
a.DTTT_button {
  padding: 1px 5px;
  margin-left: 7px;
}

div.DTTT_container {
  margin-bottom: .3em;
}

.search-select>button {
  height: 32px;
}

.search-select>input {
  height: 32px;
  width: 100%;
  border-radius: 3px 3px 3px 3px !important;
}

.search-select>button {
    display:none;
}

.logout-box {
  margin: 0px;
  padding-top: 10px;
  background-color: #52545E; /*#3F51B5;*/
  float: right;
}

.site-title {
  font-size: 20px;
  margin: 0;
  padding-top: 5px;
  padding-left: 7px;
  padding-bottom: 3px;
  padding-right: 5px;
  background-color: #293846; /*#1A237E;*/
  color: #fff;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

@media(max-width:767px){

  .site-title {
    padding-left: 10px;
    background-color: #52545E; /*#3F51B5;*/
  }
}

/*menu*/

.main-menu-bar {
  background-color: #52545E; /*#3F51B5;*/
  color: #fff;
}

.navbar-nav {
  padding-left: 5px;
}

.navbar-nav > li > a {
  padding-left: 8px;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
  background: #7986CB;
  color: #fff;
}

.nav-tabs>li.active, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #fff;
}

.nav-tabs>li>a {
  margin-right: 0px;
}

.navbar-default {
  border-bottom: white;
}

.navbar>div.desktop-big-container {
  padding: 0px;
}

.navbar-default .navbar-nav>li>a{
  color:#fff;
}
/*
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
  color:#333;
  background-color:transparent;
}*/

.navbar-default {
  background-color: #52545E; /*#3F51B5;*/
}

@media (max-width:767px){
  .navbar-nav .open .dropdown-menu{
    position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none
  }
  .navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header{
    padding:5px 15px 5px 25px} .navbar-nav .open .dropdown-menu>li>a{line-height:20px
  }
  .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus{
    background-image:none
  }
}

@media (min-width:768px){
  .navbar-nav{
    float:left;margin:0
  }
  .navbar-nav>li{
    float:left
  }
  .navbar-nav>li>a{
    padding-top:15px;
    padding-bottom:10px
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#7986CB;
  color:#fff;
}

.navbar-default .navbar-nav>li>a {
  color:#fff;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
  color:#fff;
  background-color:#7986CB;
}

.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#cecece}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  z-index: 9000;
}

.tree-select-button {
  margin-left: 10px;
}

.cell-number-value {
  text-align: right;
}

.document-list-grid-body {
  padding-top: 10px;
}

.document-list-grid>tbody>tr>td {
  padding: 4px;
}

.document-list-grid>tbody>tr>td>button {
  padding: 2px 4px;
}

#tree-items-region tbody>tr>td {
  padding: 4px;
}

#tree-items-region tbody>tr>td>button {
  padding: 2px 4px;
  font-size: 12px;
}

.ui-widget-overlay .ui-front {
  z-index: 8999;
}

input[type="radio"].dialog-checkbox, input[type="checkbox"].dialog-checkbox {
  margin-bottom: 20px;
}

.secondary-tab-box > ul {
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 15px;
}

.dialog-input-control-number {
  text-align: right;
  max-width: 200px;
}

.document_header_box {
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #f8f8f8;
  padding: 10px 10px 0px 0px;
}

.document_header_box div {
  margin-bottom:5px;
}

html input[disabled] {
  background: #eeeeee;
}

.cairo-background-image {
}

.cairo-background-image:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: url(http://huayra.conectarigualdad.gob.ar/sites/default/files/bajar/wallpapers/burda_pueblito-bradbury_1920x1080_0.jpg);*/
  /*background: url(http://ewallpaperhub.com/wp-content/uploads/2015/02/ocean-wallpaper.jpg);*/
  /*background: url(http://crowsoft.com.ar/cairo_web_images/flower_orange_big.jpg);*/
  /*background: url(http://crowsoft.com.ar/cairo_web_images/flower_orange_small.jpg);*/
  opacity: 0.6;
}

/*
div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
*/

.wizard-body {
  min-height: 450px;
}

.wizard-right-buttons {
  text-align: right;
}

/* grid column widths */

.grid-input-control {
  border: none;
  margin: 0px;
}

.grid-td-editing {
  padding: 0px !important;
}

.grid-column-text {
  width: 150px;
}
.grid-td-editing-text {
  width: 150px;
}

.grid-column-number {
  width: 100px;
}
.grid-td-editing-number {
  width: 100px;
}

.grid-column-date {
  width: 120px;
}
.grid-td-editing-date {
  width: 120px;
}

.grid-column-select {
  width: 180px;
}

.grid-column-item {
  width: 20px;
}

.cell-text-value {
  max-width: 300px;
  white-space:nowrap;
  overflow: hidden;
}

/* end: grid column widths */

.grid-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 350px;
  white-space: nowrap;
/*  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;*/
}

.document-form .grid-container {
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ddd;
}

.tab-control {
  margin-bottom: 10px;
}

.list-dialog-grid-head, #tree-list-headers {
  color: black;
  background: #eeeeee;
}

table > thead.list-dialog-grid-head > tr > th {
  border-bottom: none;
}

/* ui dialog */

.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
}
.ui-widget .ui-widget {
	font-size: 14px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 14px;
}

.btn-group {
  margin-bottom: 5px;
}

.wizard-body div.grid-container {
  min-height: 220px;
  max-height: 240px;
  margin-bottom: 25px;
}

div.grid-container table {
  width: auto;
  min-width: 400px;
}

.vertical-one-column {
  margin-left: 70px;
}

div.vertical-two-column:first-child {
  margin-left: 70px;
}

.label-main-title {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.label-sub-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.label-title {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
}

.new-doc-button {
  width: 250px;
}

.print-doc-button {
  width: 250px;
}

.close-wizard-button {
  width: 250px;
}

.inner-tab-content {
  margin-top: 37px;
}

/* Desktop */

.desktop-header {
  margin-top: 0px;
  margin-bottom: 20px;
}

#reports-pills h4 {
  margin-bottom: 20px;
  margin-left: 25px;
}

#reports .row {
  border-bottom: 1px solid #e1e1e1;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.table[disabled]>tbody>tr.dialog-tr>td {
  background-color: #dddddd;
}

