@(userForm: Form[models.master.UserData], siteBaseURL: String)(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, loggedUser: models.master.LoggedUser, requestOrigin: services.RequestOrigin)

@import helper._

@main("CrowSoft Cairo", "") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    @if(loggedUser.isLogged) {
      <h3>Welcome @loggedUser.user.username!</h3>

      @if(!loggedUser.user.active) {
      <div class="alert alert-info">
          <p>You are now logged into the system but your account is not active yet.</p>
          <p>An email with a validation link has been sent to <b>@loggedUser.user.email</b>.</p>
          <p>If you haven't received the email please click <a href="@siteBaseURL/registration/validation_email">here</a> to resend it.</p>
      </div>
      }

    } else {
      <h1>Welcome!</h1>
      <p>Please register to start using CrowSoft Cairo. It is free for the first two months. If you like it start paying $50.- a month. No user limit.</p>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    }
  </div>
</div>

    <div class="container">
        @if(loggedUser.isLogged) {
        } else {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><i class="glyphicon glyphicon-user"></i> Sign up!</legend>
                @form(routes.Registration.create, 'id -> "userForm", 'class -> "form") {
                @CSRF.formField
                @formFields(userForm)
                @flash.get("error").map { msg =>
                <div class="alert alert-warning">@msg</div>
                }
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                }
            </div>
        </div>
        <hr>
        }
    </div> <!-- /container -->
}
