@(userForm: Form[models.master.UserData], siteBaseURL: String)(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, loggedUser: models.master.LoggedUser, requestOrigin: services.RequestOrigin)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Welcome to CairoDigital</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/welcome.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/carousel.css")">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <style>
        .carousel-image-background {
          position: relative;
          width: 100%;
          min-width: 974px;
        }
        .carousel-caption h1 {
          color: white;
          text-shadow: -5px -5px 6px #332F2F, 5px 5px 6px #332F2F, 5px -5px 6px #332F2F, -5px 5px 6px #332F2F;
        }
        .carousel-caption p {
          color: #F5F5F5;
          text-shadow: -5px -5px 6px #332F2F, 5px 5px 6px #332F2F, 5px -5px 6px #332F2F, -5px 5px 6px #332F2F;
        }

        @@media (min-width: 300px) {
          .carousel-caption h1 {
            font-size: 4em;
          }
          .carousel-caption p {
            font-size: 2em;
          }
        }
        @@media (min-width: 760px) {
          .carousel-caption h1 {
            font-size: 5em;
          }
          .carousel-caption p {
            font-size: 2em;
          }
        }
        @@media (min-width: 992px) {
          .carousel-caption h1 {
            font-size: 6em;
          }
          .carousel-caption p {
            font-size: 2em;
          }
        }
    </style>
    
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">CrowSoft</a> -->

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">Nosotros</a></li>
                        <li><a href="#contact">Contacto</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">M&aacute;s <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="assets/images/crowsoft/carousel/reserva500.jpg" alt="First slide" class="carousel-image-background">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CairoDigital</h1>
                    <p>Administre su empresa de manera sencilla desde cualquier lugar</p>
                    <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/crowsoft/carousel/merlo500.jpg" alt="Second slide" class="carousel-image-background">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Factura Electr&oacute;nica</h1>
                    <p>Genere facturas electr&oacute;nicas seg&uacute;n resoluci&oacute;n general 2485 y 3749/15</p>
                    <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/crowsoft/carousel/campo.jpg" alt="Third slide" class="carousel-image-background">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CairoDigital</h1>
                    <p>Gestione sus compras, ventas, tesoreria, contabilidad y stock</p>
                    <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                </div>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/crowsoft/carousel/cielo2.jpg" alt="Fourth slide" class="carousel-image-background">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Factura Electr&oacute;nica</h1>
                    <p>Cumpla con la resoluci&oacute;n general 2485 y 3749/15 de manera eficiente y econ&oacute;mica para su negocio. </p>
                    <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                </div>
            </div>
        </div>
            <div class="item">
                <img src="assets/images/crowsoft/carousel/calle.jpg" alt="Fifth slide" class="carousel-image-background">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>CairoDigital</h1>
                        <p>Administre su empresa de forma simple y segura</p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                    </div>
                </div>
            </div>
        <div class="item">
            <img src="assets/images/crowsoft/carousel/camino.jpg" alt="Sixth slide" class="carousel-image-background">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Factura Electr&oacute;nica</h1>
                    <p>Genere facturas electr&oacute;nicas según resoluci&oacute;n general 2485 y 3749/15</p>
                    <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactenos</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/crowsoft/iconos/multi-user.png" alt="Generic placeholder image">
            <h2>Multi Usuario</h2>
            <p>Cree todos los usuarios que necesite. Defina perfiles de usuario para proteger su informacion. Los usuarios no requieren licencias adicionales.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/crowsoft/iconos/companies.jpeg" alt="Generic placeholder image">
            <h2>Multi Empresa</h2>
            <p>Gestione todas las empresas que necesite en una o mas bases de datos. Las empresas no requieren licencias adicionales.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="assets/images/crowsoft/iconos/currencies.png" alt="Generic placeholder image">
            <h2>Multi Moneda</h2>
            <p>Venda, compre, pague y cobre en multiples monedas. El sistema realiza el calculo de diferencia de cambio automaticamente.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Una interfaz simple e intuitiva. <span class="text-muted">Descubra lo f&aacute;cil que es operar el sistema.</span></h2>
            <p class="lead">
            Al comenzar a utilizar el sistema descubrira lo r&aacute;pido y f&aacute;cil que es crear nuevos documentos de facturas, cobranzas, pagos,
            o ingresar nuevos clientes, productos o proveedores, gracias a un diseño de interfaz de usuario simple y estandarizado.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/images/crowsoft/desktop.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Emita facturas electr&oacute;nicas. <span class="text-muted">Obtenga el CAE consultando los web services de AFIP.</span></h2>
            <p class="lead">Genere facturas electr&oacute;nicas y envie una copia en PDF a sus clientes con solo un click.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/images/crowsoft/facturas.png" alt="Generic placeholder image">
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Administre compras, ventas, stock, tesoreria y contabilidad. <span class="text-muted">Toda su administracion en un solo sistema.</span></h2>
            <p class="lead">
            Si Ud. vende mercaderias aprovechara el potente y flexible manejo de stock con multiples depositos,
            seguimientos de numeros de serie y lote y administraci&oacute;n de RMA.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/images/crowsoft/desktop.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Encuentre r&aacute;pidamente toda la informaci&oacute;n que busca. <span class="text-muted">Compruebe lo rapido que es navegar documentos en el sistema.</span></h2>
            <p class="lead">Gracias a los filtros por fecha, cliente, documento y descripci&oacute;n encontrar facturas, cobranzas o pagos es instantaneo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/images/crowsoft/facturas.png" alt="Generic placeholder image">
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Reduzca los tiempos de carga de documentos. <span class="text-muted">Aproveche la contabilidad y el manejo de stock en linea.</span></h2>
            <p class="lead">Gracias a la configuraci&oacute;n de par&aacute;metros por defecto vea como se reducen todos sus tiempos de carga de datos al sistema.
            Los asientos contables y los movimientos de stock se generan autom&aacute;ticamente.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="assets/images/crowsoft/factura.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <form class="form-horizontal" id="contact">
        <fieldset>

            <!-- Form Name -->
            <legend>Cont&aacute;ctenos</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Telefono</label>
                <div class="col-md-4">
                    <input id="phone" name="phone" placeholder="Ingrese su telefono" class="form-control input-md" type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" placeholder="Ingrese su email" class="form-control input-md" type="text">
                    <span class="help-block">Usaremos su email para contactarlo</span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="consulta">Consultas</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="consulta" name="consulta">Ingrese sus consulta</textarea>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-success">Enviar</button>
                </div>
            </div>

        </fieldset>
    </form>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 CrowSoft.</p>
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/vendor/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/docs.min.js")" type="text/javascript"></script>
</body>
</html>
