@import "bootstrap/bootstrap.less";

@jumbotron-font-size:            ceil((@font-size-base * 1.3));

.jumbotron {

    padding-top: 65px;
    padding-bottom: 15px;
    margin-bottom: 5px;

    @media screen and (min-width: @screen-sm-min) {

    h1,
    .h1 {
      font-size: (@font-size-base * 3.5);
    }
  }
}

a.menu {
  color: white;
}

.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#3a3a3a}

input {
  color: black !important;
}

.control-label-block {
    display: block !important;
}

.edit-group {
    margin-bottom: 15px;
}

a.menu-button {
    text-decoration: none;
}

div.mobile-menu {
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-top: 70px;
    /*min-height: 2000px;*/
}

div.desktop-menu {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div.mobile-body {
    margin-top: 70px;
}

.mobile-accordion-menu a,
.mobile-accordion-menu a:hover,
.mobile-accordion-menu a:focus {
  text-decoration: none !important;
}

.form-control-sign-in { margin-bottom: 10px; }

.desktop-big-container {
    padding-left: 15px;
    padding-right: 15px;
}

.tree-select {
    height: 38px;
}

@-moz-document url-prefix() {
.tree-select {
    height: 40px;
  }
}

@-ms-document url-prefix() {
.tree-select {
    height: 40px;
  }
}

.navbar-brand-desktop {
  padding-left: 0px;
}

.close {
  color: #fff;
  opacity: .3;
}

.tab-button-close {
  margin-left: 10px;
}

.close:hover, .close:focus{
  color:#fff;
  opacity:.8;
}

.select-empty-result-message {
  padding: 15px;
  color: red;
  font-weight: bold;
}
