@(siteBaseURL: String, email: String)

@import helper._
@import models.UserData

@main("CrowSoft Cairo") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Congratulations!</h1>
        <p>Your account @email is now activated.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 well well-sm">
        </div>
    </div>
    <hr>
</div> <!-- /container -->
}