@(username: String)(implicit token: play.filters.csrf.CSRF.Token, user: models.master.LoggedUser, requestOrigin: services.RequestOrigin)

@import helper._
@import models.master.UserData

@main("CrowSoft Cairo", "") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Congratulations!</h1>
    </div>
</div>
<div class="container">
    <div class="alert alert-info">Your account <b>@username</b> is now activated.</div>
    <hr>
</div> <!-- /container -->
}