@(siteBaseURL: String, email: String)(implicit token: play.filters.csrf.CSRF.Token, user: LoggedUser)

@import helper._
@import models.UserData

@main("CrowSoft Cairo") {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Validation Email</h1>
    </div>
</div>
<div class="container">
    <div class="alert alert-info"><p>An email with a validation link has been sent to <b>@email</b>.<p></div>
    <hr>
</div> <!-- /container -->
}