@(menus: List[models.cairo.system.MenuItem], router: List[models.cairo.system.RouterEntry], language: List[models.cairo.system.LanguageEntry], csrfToken: String)(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, companyUser: models.domain.CompanyUser, loggedUser: models.master.LoggedUser, requestOrigin: services.RequestOrigin)

@import helper._

@main("Desktop", s"Welcome ${companyUser.user.username} to your ${companyUser.company.company_name}'s desktop!") {

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="@if(loggedUser.isDesktop && !requestOrigin.userAgent.isMobile) {desktop-big-container} else {container}">
        <div class="navbar-header">
          <div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="nav navbar-nav site-title">
            <p class="site-title"><a href="/">CrowSoft Cairo</a></p>
          </div>
        </div>

        @if(!requestOrigin.userAgent.isMobile) {
          <div class="collapse navbar-collapse">
            <div class="nav navbar-nav main-menu-bar">
              <ul class="nav navbar-nav">
                  @for(menu <- menus) { @htmlHelpers.menuItem(menu) }
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle menu" data-toggle="dropdown">? <b class="caret"></b></a>
                      <ul class="dropdown-menu multi-level">
                          <li><a href="#about" class="menu">About</a></li>
                      </ul>
                  </li>
              </ul>
            </div>
            <div class="navbar-form logout-box">
              <a class="btn btn-danger btn-xs" href="/logout" style="margin-right: 5px;">
                Logout
              </a>
            </div>
            <ul id="mainTabBar" class="nav nav-tabs">
              <li class="active"><a href="#desktop-region" data-toggle="tab" data-route="#" id="link_desktop-region">Desktop</a></li>
            </ul>

            <div id="loading-region" class="container"  style="background-color: #fff; width: 100%"> </div>

          </div><!--/.nav-collapse -->
        }
      </div>

      @if(requestOrigin.userAgent.isMobile) {
        <ul id="mainTabBar" class="nav nav-tabs">
          <li class="active"><a href="#desktop-region" data-toggle="tab" data-route="#" id="link_desktop-region">!</a></li>
        </ul>
      }

    </div>
        @if(requestOrigin.userAgent.isMobile) {
          <div class="collapse navbar-collapse" style="margin-top: 100px;">
            <div class="navbar-form navbar-right" style="padding-top: 5px;">
              <a class="btn btn-danger btn-xs" href="/logout" style="margin-right: 10px;">
                Logout
              </a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="panel-group mobile-accordion-menu" id="mainMenu">
                        @for(menu <- menus) { @htmlHelpers.menuItemMobile(menu) }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#mainMenu" href="#collapseHelp">
                                        Help <b class="caret"></b>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseHelp" class="panel-collapse collapse menu-panel">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="#about" class="menu">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div><!--/.nav-collapse -->
        }
<div class="container @if(requestOrigin.userAgent.isMobile){mobile-body} desktop-container">
    <div class="row">
        @flash.get("success").map { msg =>
            <div class="alert alert-info">@msg</div>
        }
    </div>
</div>

<div id="header-region"></div>

<div id="mainTabBody" class="tab-content" @if(requestOrigin.userAgent.isMobile) {style="margin-top: 45px;"}>
  <div class="tab-pane active" id="desktop-region">
  </div>
</div>

<div id="main-region">
</div>

<div id="dialog-region"></div>
<div id="dialog-loading-region"></div>
<div id="dialog-select-tree-region"></div>

<!-- Backbone templates -->

<script type="text/template" id="about-message">
    <div class="container">
        <h1>About CrowSoft Cairo Web</h1>
        <p>This application has been developed with Play Framework (Scala), Postgresql, Bootstrap 3.0, jQuery, Backbone.js and Backbone.Marionette.js.</p>
        <p>Hopefully, it has served you well !</p>
        <p>It is open source :) You can find all the source code in <a href="https://github.com/javiercrowsoft/CrowSoft-Cairo">https://github.com/javiercrowsoft/CrowSoft-Cairo</a>.</p>
    </div>
</script>

<script type="text/template" id="usuario-edit">
    <h1>Usuario Edit</h1>
</script>

<script type="text/template" id="loading-view">
<div class="alert alert-info" style="margin : 10px 10px 10px 10px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div id="spinner"></div>
          <span style="margin-left: 50px;">
            <%- message %>
          </span>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="usuario-list">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="usuario-list-none">
    <td colspan="3">No contacts to display.</td>
</script>

<script type="text/template" id="usuario-list-item">
    <td><%- firstName %></td>
    <td><%- lastName %></td>
    <td>
        <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
            <i class="icon-pencil"></i>
            Edit
        </a>
        <button class="btn btn-small js-delete btn-danger">
            <i class="icon-remove"></i>
            Delete
        </button>
    </td>
</script>

<script type="text/template" id="missing-usuario-view">
    <div class="alert alert-error">This user does not exist !</div>
</script>

<script type="text/template" id="usuario-view">
    <h1><%- firstName %> <%- lastName %></h1>
    <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit this user
    </a>
    <p><strong>Phone number:</strong> <%- phoneNumber %></p>
</script>

<script type="text/template" id="usuario-form">
    <form>
        <div class="control-group edit-group">
            <label for="usuario-firstName" class="control-label control-label-block">First name:</label>
            <input id="usuario-firstName" name="firstName" type="text" value="<%- firstName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-lastName" class="control-label control-label-block">Last name:</label>
            <input id="usuario-lastName" name="lastName" type="text" value="<%- lastName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-phoneNumber" class="control-label control-label-block">Phone number:</label>
            <input id="usuario-phoneNumber" name="phoneNumber" type="text" value="<%- phoneNumber %>"/>
        </div>
        <button class="btn js-submit btn-info">Save</button>
    </form>
</script>

<script type="text/template" id="usuario-list-panel">
    <button class="btn btn-primary js-new">New user</button>
    <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
            <input type="text" class="span2 search-query js-filter-criterion">
            <button type="submit" class="btn btn-info">Filter users</button>
        </div>
    </form>
</script>

<script type="text/template" id="usuario-list-layout">
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <h2 class="sub-header">Users</h2>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <ul class="nav noFocus">
                    <li><div id="trees"></div></li>
                    <li><div id="tree"></div></li>
                </ul>
                @if(requestOrigin.userAgent.isMobile){<br/>}
            </div>
            <div id="tree-list-region" class="col-sm-8 col-md-9">
                <div id="panel-region"></div>
                <div id="usuarios-region"></div>
            </div>
        </div>
    </div>
</script>

<!-- general dialogs -->

<script type="text/template" id="input-text-form">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <label for="input-text-text"><%- label %></label>
        <input id="input-text-text" name="input-text-text" type="text" value="<%- text %>"/>
      </div>
    </div>
    <button class="btn js-submit btn-info btn-small">Submit</button>
  </form>
</script>


<script type="text/template" id="confirm-form">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <p><%= message %></p>
      </div>
    </div>
    <button class="btn js-submit-yes <%- yesClass %> btn-small">Yes</button>
    <button class="btn js-submit-no <%- noClass %> btn-small">No</button>
    <button class="btn js-submit-cancel btn-small <%- cancelClass %>">Cancel</button>
  </form>
</script>

<script type="text/template" id="error-message-view">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <p><%= message %></p>
      </div>
    </div>
    <button class="btn js-submit btn-info btn-small">Close</button>
    <button class="btn js-showErrorDetails btn-warning btn-small">Details</button>
  </form>
  <iframe id="errorDetailIFrame" style="width: 800px; height: 600px; display: none; margin-top: 50px; border: none;"></iframe>
</script>

<script type="text/template" id="info-message-view">
    <form>
        <div class="input-text-form">
            <div class="control-group">
                <p><%= message %></p>
            </div>
        </div>
        <button class="btn js-submit btn-info btn-small">Close</button>
    </form>
</script>

<!-- desktop -->
<script type="text/template" id="desktop-template">

</script>

<!-- trees -->

<script type="text/template" id="tree-list-panel-template">
</script>

<script type="text/template" id="tree-create-first-tree-template">
  <br>
  <br>
  <div class="alert alert-info">
    <div class="alert alert-warning"><h4>You must create a tree to list <%- entitiesName %></h4></div>
    <br><br>
  <button class="btn btn-primary js-new-tree">Create new tree</button>
  </div>
</script>

<script type="text/template" id="tree-layout-template">
    <div class="row tree-header">
      <div class="col-sm-12 col-md-12">
        <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
            <h3 class="sub-header"><%- entitiesTitle %></h3>
        </div>
      </div>
    </div>
    <div class="row tree-layout-buttons-toolbar-row">
        <div class="col-md-12">
          <% if(showTableButtons) { %>
            <div class="btn-group">
               <button class="btn btn-primary js-new"><i class='glyphicon glyphicon-file'></i> New <%- entityName %></button>
            </div>
          <% } %>
          <div class="btn-group">
            <button class="btn btn-action toolbar-tree-button"><i class="glyphicon glyphicon-file"></i> Tree</button>
            <button class="btn btn-action toolbar-tree-button"><i class="glyphicon glyphicon-file"></i> Branch</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-action toolbar-tree-button"><i class="glyphicon glyphicon-copy"></i> Copy</button>
            <button class="btn btn-action toolbar-tree-button"><i class="glyphicon glyphicon-paste"></i> Paste</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-action toolbar-tree-button"><i class="glyphicon glyphicon-export"></i> Export list</button>
          </div>
      <% if(showSelectButton) { %>
          <button class="btn btn-primary align-right tree-select-button" id="tree-select-select-button"> Select </button>
      <% } %>
          <div class="btn-group" style="float: right;">
            <div class="tree-select-input">
              <div class="tree-select-control cf search-select">
                <input
                      type="text"
                      class="form-control dialog-control"
                      id="tree-search-control"
                      placeholder="Search for <%- entitiesName %>"
                      autocomplete="off"
                      autofocus
                    />
                <button>+</button>
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-3 tree-layout-tree-column">
                <ul class="nav noFocus">
                    <li><div id="trees"></div></li>
                    <li><div id="tree"></div></li>
                </ul>
                @if(requestOrigin.userAgent.isMobile){<br/>}
            </div>
            <div id="tree-main-list-region" class="col-sm-7 col-md-8 col-lg-9 tree-list-region">

              <div class="col-sm-1 col-md-1"></div>
              <div class="col-sm-11 col-md-11" style="padding-right: 0px;">
                <div class="alert alert-info" style="padding-right: 5px;">
                  <p>Select a folder to list <%- entitiesName %></p>
                </div>
              </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tree-list-layout-template">
    <div id="tree-list-region">
        <div id="tree-panel-region"></div>
        <div id="tree-items-region"></div>
    </div>
</script>

<script type="text/template" id="tree-item-template">
    <option value="<%- id %>"><%- name %></option>
</script>

<script type="text/template" id="tree-list-template">
    <thead>
    <tr id="tree-list-headers">
        <th><i class="glyphicon glyphicon-pencil"></i></th>
        <% columns.forEach(function(column) { %>
            <th class="capitalize"><%- column.name %></th>
        <% }); %>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="tree-list-template-mobile">
  <thead>
  <tr id="tree-list-headers">
    <th>Items</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</script>

<script type="text/template" id="tree-list-item-template">
    <% leaves.forEach(function(leave) { %>
    <tr data-id="<%- leave.id %>" data-clientid="<%- leave.clientId %>">
      <td nowrap>
        <% if(showEditButton) { %>
        <button class="btn btn-sm btn-info js-edit" type="button" data-row-id="<%- leave.clientId %>">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <% }
           if(showDeleteButton) {
        %>
        <button class="btn btn-sm btn-danger js-delete" type="button">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <% } %>
      </td>
      <%
        var index;
        for (index = 0; index < columns.length; index++) {
      %>
        <td nowrap><%= Cairo.Tree.getColumnValue(columns[index], leave.values[index]) %></td>
      <% } %>
    </tr>
    <% }); %>
</script>

<script type="text/template" id="tree-list-item-template-mobile">
    <% leaves.forEach(function(leave) { %>
    <tr data-id="<%- leave.id %>" data-clientid="<%- leave.clientId %>">
      <td>
        <%
        var index;
        for (index = 0; index < columns.length; index++) {
        %>
        <span class="capitalize"><%- columns[index].name %></span>: <%= Cairo.Tree.getColumnValue(columns[index], leave.values[index]) %><br>
        <% } %>
      <br>
      <button class="btn btn-sm btn-info js-edit" type="button" data-row-id="<%- leave.clientId %>">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
      <button class="btn btn-sm btn-danger js-delete" type="button">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
    </tr>
    <% }); %>
</script>

<script type="text/template" id="tree-list-none-template">
    <td colspan="3">No items to display.</td>
</script>

<!-- dialogs -->

<script type="text/template" id="dialog-layout-template">
    <div class="row dialog-header">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container}">
        <div class="row document-list-buttons-toolbar-row">
          <div class="col-sm-11 col-md-11 col-lg-11">
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-new-button"><i class='glyphicon glyphicon-file'></i> New</button>
            <button class="btn btn-success dialog-button dialog-save-button"><i class='glyphicon glyphicon-floppy-disk'></i> Save</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-copy-button">Duplicate</button>
            <button class="btn btn-warning dialog-button dialog-discard-button">Discard Changes</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-print-button"><i class='glyphicon glyphicon-print'></i> Print</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-permissions-button">Permissions</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-documents-button"><i class='glyphicon glyphicon-paper-clip'></i> Attached Files</button>
            </div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-warning dialog-button dialog-close-button">Close</button>
          </div>
        </div>
        <div class="dialog-form-box">
          <div id="formBody">
          </div>
        </div>
    </div>
</script>

<script type="text/template" id="document-layout-template">
    <div class="row dialog-header">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container}">
        <div class="row document-list-buttons-toolbar-row">
          <div class="col-sm-11 col-md-11 col-lg-11">
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-new-button"><i class='glyphicon glyphicon-file'></i> New</button>
            <button class="btn btn-success dialog-button dialog-save-button"><i class='glyphicon glyphicon-floppy-disk'></i> Save</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-copy-button">Duplicate</button>
            <button class="btn btn-warning dialog-button dialog-discard-button">Discard Changes</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-search-button"><i class='glyphicon glyphicon-search'></i> Search</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-print-button"><i class='glyphicon glyphicon-print'></i> Print</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-documents-button"><i class='glyphicon glyphicon-paper-clip'></i> Attached Files</button>
            </div>
            <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-permissions-button"><i class='glyphicon glyphicon-step-backward'></i></button>
            <button class="btn btn-info dialog-button dialog-documents-button"><i class='glyphicon glyphicon-backward'></i></button>
            <button class="btn btn-info dialog-button dialog-documents-button"><i class='glyphicon glyphicon-forward'></i></button>
            <button class="btn btn-info dialog-button dialog-documents-button"><i class='glyphicon glyphicon-step-forward'></i></button>                        
            </div>
            
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle dialog-button" data-toggle="dropdown" aria-expanded="false">
                More <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit</a></li>
                <li class="divider"></li>
                <li><a href="#">Invalidate</a></li>
                <li class="divider"></li>
                <li><a href="#"></i>Delete</a></li>
                <li class="divider"></li>
                <li><a href="#">View applications</a></li>
                <li><a href="#">View associated documents</a></li>                
                <li><a href="#">Explain status</a></li>                
                <li><a href="#">Set/edit alarms</a></li>                
                <li><a href="#">View edit history</a></li>                
              </ul>
            </div>
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-warning dialog-button dialog-close-button">Close</button>
          </div>
        </div>
        <div class="dialog-form-box document-form">
          <div id="formBody">
          </div>
        </div>
    </div>
</script>

<script type="text/template" id="wizard-layout-template">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container}">
        <div class="dialog-form-box @if(!requestOrigin.userAgent.isMobile) {wizard-body}">
          <div id="formBody">
          </div>
        </div>
        <div class="row document-list-buttons-toolbar-row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <button class="btn btn-info dialog-button dialog-wizard-cancel-button">Cancel</button>
            </div>
            <div class="col-sm-11 col-md-11 col-lg-11 wizard-right-buttons">
                <button class="btn btn-info dialog-button dialog-wizard-back-button">Back</button>
                <button class="btn btn-info dialog-button dialog-wizard-next-button">Next</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="document-list-layout-template">
    <div class="row document-list-header">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container document-list-container}">
      <div class="row document-list-buttons-toolbar-row">
        <div class="col-sm-3 col-md-3 col-lg-2">
          <button class="btn btn-success dialog-button dialog-wide-button dialog-refresh-button">Refresh</button>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9">
          <div class="btn-group">
            <button class="btn btn-info dialog-button dialog-new-button"><i class='glyphicon glyphicon-file'></i> New</button>
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-edit"></i> Edit</button>
          </div>
          <div class="btn-group">
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-ban-circle"></i> Invalidate</button>
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-remove"></i> Delete</button>
          </div>
          <div class="btn-group">
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-print"></i> Print</button>
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-save-file"></i> PDF</button>
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-envelope"></i> Email</button>
            <button class="btn list-dialog-button dialog-button"><i class="glyphicon glyphicon-export"></i> Export</button>
          </div>
          <div class="btn-group">
            <button class="btn dropdown-toggle dialog-button list-dialog-button" data-toggle="dropdown" aria-expanded="false">
              More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">View applications</a></li>
              <li><a href="#">View associated documents</a></li>
              <li><a href="#">Explain status</a></li>
              <li><a href="#">Set/edit alarms</a></li>
              <li><a href="#">View edit history</a></li>
            </ul>
          </div>
          <div class="btn-group" style="float: right;">
            <div class="tree-select-input">
              <div class="tree-select-control cf search-select">
                <input
                      type="text"
                      class="form-control dialog-control"
                      id="tree-search-control"
                      placeholder="Search for <%- entityTitle %>"
                      autocomplete="off"
                      autofocus
                    />
                <button>+</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" style="padding-right: 0;">
          <button class="btn btn-warning dialog-button dialog-close-button align-right" style="margin-right: 0;">Close</button>
        </div>
      </div>
      <div class="row document-list-params-box">
        <div class="col-sm-3 col-md-3 col-lg-2 document-list-params">
          <div id="formBody">
          </div>
          <div class="document-list-save-params">
            <button class="btn btn-success dialog-button dialog-save-button"><i class='glyphicon glyphicon-floppy-disk'></i> Save</button>
          </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10 document-list-list">
          <div class="document-list-grid-body">
          </div>
        </div>
      </div>

    </div>
</script>

<script type="text/template" id="params-layout-template">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container}">
        <div id="formBody">
        </div>
        <div class="input-text-form">
            <div class="row dialog-buttons-first-row">
                <button class="btn btn-success dialog-button dialog-wide-button dialog-save-button">Save</button>
                <button class="btn btn-warning dialog-button dialog-close-button">Close</button>
            </div>
            <div class="row dialog-buttons-row">
                <button class="btn btn-info dialog-button dialog-new-button">New</button>
                <button class="btn btn-info dialog-button dialog-copy-button">Duplicate</button>
                <button class="btn btn-warning dialog-button dialog-discard-button">Discard Changes</button>
            </div>
            <div class="row dialog-buttons-last-row">
                <button class="btn btn-info dialog-button dialog-print-button">Print</button>
                <button class="btn btn-info dialog-button dialog-permissions-button">Permissions</button>
                <button class="btn btn-info dialog-button dialog-documents-button">Attached Files</button>
            </div>
            <br/>
        </div>
    </div>
</script>

<!-- scripts -->

<script src="@routes.Assets.at("javascripts/vendor/jquery-ui-1.10.3.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.ui-contextmenu.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/json2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.marionette.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/backbone.picky.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.syphon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.localstorage.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/spin.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/spin.jquery.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/jquery.fancytree-all.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/dataTables.bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/dataTables.tableTools.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.contextmenu.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.dataTables.plugins.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.tabbable.js")" type="text/javascript"></script>

<script src="./client/cairo/config/marionette/regions/dialog.js"></script>
<script src="./client/cairo/cairoApp.js"></script>
<script>

  //
  //
  // all this initialization should be moved to a function which will be called
  // on document ready.
  //
  // here we just leave a token which can be used only one time to get the configuration
  //
  //

  Cairo.setAjax = function() {
      //Ajax Request Configuration
      //To Set The CSRF Token To Request Header
      $.ajaxSetup({
          headers : {
              'Csrf-Token' : '@csrfToken'
          }
      });
  };

  Cairo.isMobile = function() {
    return @if(requestOrigin.userAgent.isMobile) {true} else {false};
  };

  Cairo.User.setId(@{companyUser.userId});
  Cairo.Company.setId(@{companyUser.cairoCompanyId});
  Cairo.Company.setName('@{companyUser.cairoCompanyName}');
  Cairo.User.setSucId(@{companyUser.cairoUser.branch.id});
  Cairo.User.setSucName('@{companyUser.cairoUser.branch.name}');
  Cairo.User.setPrsId(@{companyUser.cairoUser.person.id});
  Cairo.User.setPrsName('@{companyUser.cairoUser.person.name}');

  // TODO: get this from company configuration
  //
  Cairo.Company.setDefaultCurrency(2);

</script>
<script src="./client/cairo/session.js"></script>
<script src="./client/cairo/config/storage/localstorage.js"></script>
<script src="./client/cairo/entities/common.js"></script>
<script src="./client/cairo/common/views.js"></script>
<script src="./client/cairo/system/promise.js"></script>
<script src="./client/cairo/system/modal.js"></script>

<!-- system -->

<script src="./client/cairo/system/database/database.js"></script>
<script src="./client/cairo/system/database/docDigital.js"></script>
<script src="./client/cairo/system/security/security.js"></script>
<script src="./client/cairo/system/language/language.js"></script>
<script src="./client/cairo/system/documentation/documentation.js"></script>

<script>
  @languageGenerator(language)
</script>

<!-- formatters -->

<script src="./client/cairo/system/formatters/accounting.js"></script>

<!-- controls -->

<script src="./client/cairo/system/controls/control.js"></script>

<script src="./client/cairo/system/controls/tree.js"></script>
<script src="./client/cairo/system/controls/tab.js"></script>
<script src="./client/cairo/system/controls/select.js"></script>
<script src="./client/cairo/system/controls/treeSelect.js"></script>

<script src="./client/cairo/system/controls/button.js"></script>
<script src="./client/cairo/system/controls/label.js"></script>
<script src="./client/cairo/system/controls/menu.js"></script>
<script src="./client/cairo/system/controls/image.js"></script>
<script src="./client/cairo/system/controls/input.js"></script>
<script src="./client/cairo/system/controls/datePicker.js"></script>
<script src="./client/cairo/system/controls/checkbox.js"></script>
<script src="./client/cairo/system/controls/combo.js"></script>
<script src="./client/cairo/system/controls/optionButton.js"></script>
<script src="./client/cairo/system/controls/password.js"></script>
<script src="./client/cairo/system/controls/progressBar.js"></script>
<script src="./client/cairo/system/controls/textArea.js"></script>
<script src="./client/cairo/system/controls/toolbar.js"></script>
<script src="./client/cairo/system/controls/grid.js"></script>
<script src="./client/cairo/system/controls/listGrid.js"></script>

<!-- dialogs -->

<script src="./client/cairo/system/collections/collection.js"></script>
<script src="./client/cairo/system/dialogs/property.js"></script>
<script src="./client/cairo/system/dialogs/menu.js"></script>
<script src="./client/cairo/system/dialogs/tab.js"></script>
<script src="./client/cairo/system/dialogs/grid.js"></script>
<script src="./client/cairo/system/dialogs/view.js"></script>
<script src="./client/cairo/system/dialogs/dialog.js"></script>
<script src="./client/cairo/system/dialogs/dialogList.js"></script>
<script src="./client/cairo/system/dialogs/wizardStep.js"></script>
<script src="./client/cairo/system/dialogs/wizard.js"></script>

<!-- modules -->

<!-- TODO: this file is hardcoded for now but must be included in the router -->
<script src="./client/cairo/modules/CSGeneral2/constants.js"></script>
<script src="./client/cairo/modules/CSCompra2/constants.js"></script>
<script src="./client/cairo/modules/CSVenta2/constants.js"></script>
<script src="./client/cairo/modules/CSContabilidad2/constants.js"></script>
<script src="./client/cairo/modules/CSTesoreria2/constants.js"></script>
<script src="./client/cairo/modules/system/system.js"></script>
<script src="./client/cairo/modules/CSGeneralEx2/cGenericEdit.js"></script>
<script src="./client/cairo/modules/CSCompra2/percepcion.js"></script>
<script src="./client/cairo/modules/CSVenta2/percepcion.js"></script>

@for(routerEntry <- router){<script src="./client/cairo/modules/@{routerEntry.fileHandler}.js"></script>
@for(wizard <- routerEntry.wizards){<script src="./client/cairo/modules/@{wizard.fileHandler}.js"></script>}
}

<script src="./client/cairo/about/aboutApp.js"></script>
<script src="./client/cairo/desktop/desktopApp.js"></script>
<script src="./client/cairo/about/show/showView.js"></script>
<script src="./client/cairo/about/show/showController.js"></script>

<!-- routes -->
<script>

@routerGenerator(router)

</script>

<script>
  $(document).ready(function () {
      function closeNav() {
          $(".navbar-collapse").stop().css({ 'height': '1px' }).removeClass('in').addClass("collapse");
          $(".menu-panel").stop().css({ 'height': '1px' }).removeClass('in').addClass("collapse");
      }

      $('.menu').click(function (event) {
          closeNav();
      });

      // load general settings
      //
      Cairo.Configuration.createConfigObjects();
  });
</script>

}
