@(menus: List[models.cairo.MenuItem], router: List[models.cairo.RouterEntry], csrfToken: String)(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, companyUser: models.domain.CompanyUser, loggedUser: LoggedUser, requestOrigin: services.RequestOrigin)

@import helper._

@main("Desktop", s"Welcome ${companyUser.user.username} to your ${companyUser.company.company_name}'s desktop!") {

<!-- Main jumbotron for a primary marketing message or call to action -->
@if(!requestOrigin.userAgent.isMobile) {
<div class="jumbotron desktop-menu">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav">
                @for(menu <- menus) {
                    @htmlHelpers.menuItem(menu)
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle menu" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="#about" class="menu">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
} else {
<div class="collapse mobile-menu">
    <div class="container">
        <div class="row">
            <div class="panel-group mobile-accordion-menu" id="mainMenu">
                @for(menu <- menus) {
                    @htmlHelpers.menuItemMobile(menu)
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#mainMenu" href="#collapseHelp">
                                Help <b class="caret"></b>
                            </a>
                        </h4>
                    </div>

                    <div id="collapseHelp" class="panel-collapse collapse menu-panel">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#about" class="menu">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.nav-collapse -->
}

<div class="container @if(requestOrigin.userAgent.isMobile){mobile-body} desktop-container">
    <div class="row">
        @flash.get("success").map { msg =>
            <div class="alert alert-info">@msg</div>
        }
    </div>
</div>

<div id="header-region"></div>
<div id="loading-region" class="container"></div>
<div id="main-region">
    <div class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>
</div>

<div id="dialog-region"></div>

<!-- Backbone templates -->

<script type="text/template" id="about-message">
    <div class="container">
        <h1>About CrowSoft Cairo Web</h1>
        <p>This application has been developed with Play Framework (Scala), Postgresql, Bootstrap 3.0, jQuery, Backbone.js and Backbone.Marionette.js.</p>
        <p>Hopefully, it has served you well !</p>
        <p>It is open source :) You can find all the source code in <a href="https://github.com/javiercrowsoft/CrowSoft-Cairo">https://github.com/javiercrowsoft/CrowSoft-Cairo</a>.</p>
    </div>
</script>

<script type="text/template" id="usuario-edit">
    <h1>Usuario Edit</h1>
</script>

<script type="text/template" id="loading-view">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <h1><%- title %></h1>
            <p><%- message %></p>
        </div>
        <div class="col-sm-8 col-md-9">
            <div id="spinner"></div>
        </div>
    </div>
</script>

<script type="text/template" id="usuario-list">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="usuario-list-none">
    <td colspan="3">No contacts to display.</td>
</script>

<script type="text/template" id="usuario-list-item">
    <td><%- firstName %></td>
    <td><%- lastName %></td>
    <td>
        <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
            <i class="icon-pencil"></i>
            Edit
        </a>
        <button class="btn btn-small js-delete btn-danger">
            <i class="icon-remove"></i>
            Delete
        </button>
    </td>
</script>

<script type="text/template" id="missing-usuario-view">
    <div class="alert alert-error">This user doesn't exist !</div>
</script>

<script type="text/template" id="usuario-view">
    <h1><%- firstName %> <%- lastName %></h1>
    <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit this user
    </a>
    <p><strong>Phone number:</strong> <%- phoneNumber %></p>
</script>

<script type="text/template" id="usuario-form">
    <form>
        <div class="control-group edit-group">
            <label for="usuario-firstName" class="control-label control-label-block">First name:</label>
            <input id="usuario-firstName" name="firstName" type="text" value="<%- firstName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-lastName" class="control-label control-label-block">Last name:</label>
            <input id="usuario-lastName" name="lastName" type="text" value="<%- lastName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-phoneNumber" class="control-label control-label-block">Phone number:</label>
            <input id="usuario-phoneNumber" name="phoneNumber" type="text" value="<%- phoneNumber %>"/>
        </div>
        <button class="btn js-submit btn-info">Save</button>
    </form>
</script>

<script type="text/template" id="usuario-list-panel">
    <button class="btn btn-primary js-new">New user</button>
    <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
            <input type="text" class="span2 search-query js-filter-criterion">
            <button type="submit" class="btn btn-info">Filter users</button>
        </div>
    </form>
</script>

<script type="text/template" id="usuario-list-layout">
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <h2 class="sub-header">Users</h2>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <ul class="nav noFocus">
                    <li><div id="trees"></div></li>
                    <li><div id="tree"></div></li>
                </ul>
                @if(requestOrigin.userAgent.isMobile){<br/>}
            </div>
            <div id="tree-list-region" class="col-sm-8 col-md-9">
                <div id="panel-region"></div>
                <div id="usuarios-region"></div>
            </div>
        </div>
    </div>
</script>

<!-- general dialogs -->

<script type="text/template" id="input-text-form">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <label for="input-text-text"><%- label %></label>
        <input id="input-text-text" name="input-text-text" type="text" value="<%- text %>"/>
      </div>
    </div>
    <button class="btn js-submit btn-info btn-small">Submit</button>
  </form>
</script>


<script type="text/template" id="confirm-form">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <p><%- message %></p>
      </div>
    </div>
    <button class="btn js-submit-yes <%- yesClass %> btn-small">Yes</button>
    <button class="btn js-submit-no <%- noClass %> btn-small">No</button>
  </form>
</script>

<script type="text/template" id="error-message-view">
  <form>
    <div class="input-text-form">
      <div class="control-group">
        <p><%- message %></p>
      </div>
    </div>
    <button class="btn js-submit btn-info btn-small">Close</button>
    <button class="btn js-showErrorDetails btn-warning btn-small">Details</button>
  </form>
  <iframe id="errorDetailIFrame" style="width: 800px; height: 600px; display: none; margin-top: 50px; border: none;"></iframe>
</script>

<!-- trees -->

<script type="text/template" id="tree-list-panel-template">
    <button class="btn btn-primary js-new"><%- entityName %></button>
    <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
            <input type="text" class="span2 search-query js-filter-criterion">
            <button type="submit" class="btn btn-info">Filter <%- entitiesName %></button>
        </div>
    </form>
</script>

<script type="text/template" id="tree-create-first-tree-template">
  <br>
  <br>
  <div class="alert alert-info">
    <div class="alert alert-warning"><h4>You must create a tree to list <%- entitiesName %></h4></div>
    <br><br>
  <button class="btn btn-primary js-new-tree">Create new tree</button>
  </div>
</script>

<script type="text/template" id="tree-layout-template">
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <h2 class="sub-header"><%- entitiesTitle %></h2>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <ul class="nav noFocus">
                    <li><div id="trees" data-foo="bar"></div></li>
                    <li><div id="tree"></div></li>
                </ul>
                @if(requestOrigin.userAgent.isMobile){<br/>}
            </div>
            <div id="tree-main-list-region" class="col-sm-8 col-md-9">
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tree-list-layout-template">
    <div id="tree-list-region" class="col-sm-8 col-md-9">
        <div id="tree-panel-region"></div>
        <div id="tree-items-region"></div>
    </div>
</script>

<script type="text/template" id="tree-item-template">
    <option value="<%- id %>"><%- name %></option>
</script>

<script type="text/template" id="tree-list-template">
    <thead>
    <tr id="tree-list-headers">
        <% columns.forEach(function(column) { %>
            <th><%- column.name %></th>
        <% }); %>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="tree-list-item-template">
    <% leaves.forEach(function(leave) { %>
    <tr>
        <% leave.values.forEach(function(value) { %>
            <td><%- value %></td>
        <% }); %>
    <td>
        <a href="#sistema/usuario/<%- leave.clientId %>" class="btn btn-small js-edit">
            <i class="icon-pencil"></i>
            Edit
        </a>
        <button class="btn btn-small js-delete btn-danger">
            <i class="icon-remove"></i>
            Delete
        </button>
    </td>
    </tr>
    <% }); %>
</script>

<script type="text/template" id="tree-list-none-template">
    <td colspan="3">No items to display.</td>
</script>

<!-- scripts -->

<script src="@routes.Assets.at("javascripts/vendor/jquery-ui-1.10.3.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/jquery.ui-contextmenu.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/json2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.marionette.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/backbone.picky.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.syphon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.localstorage.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/spin.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/spin.jquery.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/jquery.fancytree-all.min.js")" type="text/javascript"></script>


<script src="./client/cairo/config/marionette/regions/dialog.js"></script>
<script src="./client/cairo/cairoApp.js"></script>
<script>
    Cairo.setAjax = function() {
        //Ajax Request Configuration
        //To Set The CSRF Token To Request Header
        $.ajaxSetup({
            headers : {
                'Csrf-Token' : '@csrfToken'
            }
        });
    };
</script>
<script src="./client/cairo/session.js"></script>
<script src="./client/cairo/config/storage/localstorage.js"></script>
<script src="./client/cairo/entities/common.js"></script>
<script src="./client/cairo/common/views.js"></script>
<script src="./client/cairo/system/tree.js"></script>

@for(routerEntry <- router) {<script src="./client/cairo/modules/@{routerEntry.fileHandler}.js"></script>
}
<script src="./client/cairo/about/aboutApp.js"></script>
<script src="./client/cairo/about/show/showView.js"></script>
<script src="./client/cairo/about/show/showController.js"></script>

<script>

@routerGenerator(router)

</script>

<script type='text/javascript'>

    $(document).ready(function () {
        function closeNav() {
            $(".mobile-menu").stop().css({ 'height': '1px' }).removeClass('in').addClass("collapse");
            $(".menu-panel").stop().css({ 'height': '1px' }).removeClass('in').addClass("collapse");
        }

        $('.menu').click(function (event) {
            closeNav();
        });
    });

</script>

}
