@(menus: List[models.cairo.MenuItem], router: List[models.cairo.RouterEntry])(implicit flash:Flash, token: play.filters.csrf.CSRF.Token, companyUser: models.domain.CompanyUser, loggedUser: LoggedUser)

@import helper._

@main("Desktop", s"Welcome ${companyUser.user.username} to your ${companyUser.company.company_name}'s desktop!") {

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <ul class="nav navbar-nav">
                @for(menu <- menus) {
                    @htmlHelpers.menuItem(menu)
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle menu" data-toggle="dropdown">Help <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="#about" class="menu">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @flash.get("success").map { msg =>
        <div class="alert alert-info">@msg</div>
        }
    </div>

    <div id="header-region"></div>

    <div id="main-region" class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <div id="dialog-region"></div>

    <script type="text/template" id="header-template">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#sistema/usuarios">Users</a>
                <div class="nav-collapse collapse">
                    <ul class="nav"></ul>
                </div>
            </div>
        </div>
    </script>

</div>

<!-- Backbone templates -->

<script type="text/template" id="about-message">
    <h1>About CrowSoft Cairo Web</h1>
    <p>This application has been developed with Play Framework (Scala), Postgresql, Bootstrap 3.0, jQuery, Backbone.js and Backbone.Marionette.js.</p>
    <p>Hopefully, it has served you well !</p>
    <p>It is open source :) You can find all the source code in <a href="https://github.com/javiercrowsoft/CrowSoft-Cairo">https://github.com/javiercrowsoft/CrowSoft-Cairo</a>.</p>
</script>

<script type="text/template" id="usuario-edit">
    <h1>Usuario Edit</h1>
</script>

<script type="text/template" id="loading-view">
    <h1><%- title %></h1>
    <p><%- message %></p>
    <div id="spinner"></div>
</script>

<script type="text/template" id="usuario-list">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="usuario-list-none">
    <td colspan="3">No contacts to display.</td>
</script>

<script type="text/template" id="usuario-list-item">
    <td><%- firstName %></td>
    <td><%- lastName %></td>
    <td>
        <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
            <i class="icon-pencil"></i>
            Edit
        </a>
        <button class="btn btn-small js-delete btn-danger">
            <i class="icon-remove"></i>
            Delete
        </button>
    </td>
</script>

<script type="text/template" id="missing-usuario-view">
    <div class="alert alert-error">This user doesn't exist !</div>
</script>

<script type="text/template" id="usuario-view">
    <h1><%- firstName %> <%- lastName %></h1>
    <a href="#sistema/usuario/<%- id %>" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit this user
    </a>
    <p><strong>Phone number:</strong> <%- phoneNumber %></p>
</script>

<script type="text/template" id="usuario-form">
    <form>
        <div class="control-group edit-group">
            <label for="usuario-firstName" class="control-label control-label-block">First name:</label>
            <input id="usuario-firstName" name="firstName" type="text" value="<%- firstName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-lastName" class="control-label control-label-block">Last name:</label>
            <input id="usuario-lastName" name="lastName" type="text" value="<%- lastName %>"/>
        </div>
        <div class="control-group edit-group">
            <label for="usuario-phoneNumber" class="control-label control-label-block">Phone number:</label>
            <input id="usuario-phoneNumber" name="phoneNumber" type="text" value="<%- phoneNumber %>"/>
        </div>
        <button class="btn js-submit btn-info">Save</button>
    </form>
</script>

<script type="text/template" id="usuario-list-layout">
    <div id="panel-region"></div>
    <div id="usuarios-region"></div>
</script>

<script type="text/template" id="usuario-list-panel">
    <button class="btn btn-primary js-new">New user</button>
    <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
            <input type="text" class="span2 search-query js-filter-criterion">
            <button type="submit" class="btn btn-info">Filter users</button>
        </div>
    </form>
</script>

<script type="text/template">
    $('ul.dropdown-menu').on('click', function(event) {
        // Avoid following the href location when clicking
        event.preventDefault();
        // Avoid having the menu to close when clicking
        event.stopPropagation();
        // If a menu is already open we close it
        $('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
        // opening the one you clicked on
        $(this).parent().addClass('open');
    });
</script>

<script src="@routes.Assets.at("javascripts/vendor/jquery-ui-1.10.3.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/json2.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.marionette.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/backbone.picky.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.syphon.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/backbone.localstorage.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/vendor/spin.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/vendor/spin.jquery.js")" type="text/javascript"></script>



<script src="./client/cairo/config/marionette/regions/dialog.js"></script>
<script src="./client/cairo/cairoApp.js"></script>
<script src="./client/cairo/config/storage/localstorage.js"></script>
<script src="./client/cairo/entities/common.js"></script>
<script src="./client/cairo/common/views.js"></script>

@for(routerEntry <- router) {<script src="./client/cairo/modules/@{routerEntry.fileHandler}.js"></script>
}
<script src="./client/cairo/about/aboutApp.js"></script>
<script src="./client/cairo/about/show/showView.js"></script>
<script src="./client/cairo/about/show/showController.js"></script>

<script>

@routerGenerator(router)

</script>

}
