@(requestOrigin: services.RequestOrigin)
<script type="text/template" id="preview-layout-template">
    <div class="row document-list-header">
        <div class="col-sm-12 col-md-12">
            <div class="@if(requestOrigin.userAgent.isMobile) {container} else {desktop-big-container}">
                <h3 class="sub-header dialog-subtitle"><%- entityTitle %></h3>
            </div>
        </div>
    </div>
    <div class="@if(requestOrigin.userAgent.isMobile) {container} else {dialog-container document-list-container}">
      <div class="row document-list-buttons-toolbar-row">
        <div class="col-sm-3 col-md-3 col-lg-2">
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1" style="padding-right: 0;">
          <button class="btn btn-warning dialog-button dialog-close-button align-right" style="margin-right: 0;">Close</button>
        </div>
      </div>
      <div class="row document-list-params-box">
        <div class="col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10">
          <div class="report-preview-ctrl"></div>

          <div id="report-preview" style="display: none;">
            <div class="btn-group">
              <button class="btn btn-info dialog-button dialog-documents-button report-first-page"><i class='glyphicon glyphicon-step-backward'></i></button>
              <button class="btn btn-info dialog-button dialog-documents-button report-previous-page"><i class='glyphicon glyphicon-backward'></i></button>
              <input class="btn dialog-input-control report-current-page" style="width: 50px; height:34px; margin-left: 5px;">
              <input class="btn dialog-input-control report-total-pages" style="width: 50px; height:34px; margin-right: 5px;" disabled>
              <button class="btn btn-info dialog-button dialog-documents-button report-next-page"><i class='glyphicon glyphicon-forward'></i></button>
              <button class="btn btn-info dialog-button dialog-documents-button report-last-page"><i class='glyphicon glyphicon-step-forward'></i></button>
            </div>
            <div class="dialog-report-container" style="overflow:scroll; height:400px;">
              <img class="dialog-page-image">
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
        </div>
      </div>
    </div>
</script>
