@(router: List[models.cairo.system.RouterEntry])

Cairo.module("CairoRouterApp", function(CairoRouterApp, Cairo, Backbone, Marionette, $, _){
  CairoRouterApp.Router = Marionette.AppRouter.extend({
    appRoutes: {
      @for(routerEntry <- router) {
        "@{routerEntry.path}": "@{routerEntry.action}@{routerEntry.handlerObject}",
        @if(!routerEntry.path2.isEmpty){"@{routerEntry.path2}": "@{routerEntry.action2}@{routerEntry.handlerObject}",}
        @for(re <- routerEntry.wizards.filter(_.routerEntry.isDefined).map(_.routerEntry.get)) {"@{re.path2}": "@{re.action2}@{re.handlerObject}",}
      }
        "about" : "showAbout",
        "desktop" : "showDesktop",
        "reports/report/:id" : "showReport"
    }
  });

  var API = {
    @for(routerEntry <- router) {
        @{routerEntry.action}@{routerEntry.handlerObject}: function(@routerEntry.pathParam){
          Cairo.@{routerEntry.handlerObject}.@{routerEntry.action.capitalize}.Controller.@{routerEntry.action}(@routerEntry.pathParam);
          Cairo.execute("set:active:header", "@{routerEntry.handlerObject}");
        },
        @if(!routerEntry.path2.isEmpty) {
            @{routerEntry.action2}@{routerEntry.handlerObject}: function(@routerEntry.path2Param){
                Cairo.@{routerEntry.handlerObject}.@{routerEntry.action2.capitalize}.Controller.@{routerEntry.action2}(@routerEntry.path2Param);
                Cairo.execute("set:active:header", "@{routerEntry.handlerObject}");
            },
        }

        @for(re <- routerEntry.wizards.filter(_.routerEntry.isDefined).map(_.routerEntry.get)) {
            @{re.action2}@{re.handlerObject}: function(@re.path2Param){
                Cairo.@{re.handlerObject}.@{re.action.capitalize}.Controller.@{re.action2}(@re.path2Param);
                Cairo.execute("set:active:header", "@{re.handlerObject}");
            },
        }
    }
        showAbout: function() {
          Cairo.About.Show.Controller.showAbout();
          Cairo.execute("set:active:header", "about");
        },
        showDesktop: function() {
          // this must be empty. the desktop is always present and it is created on page load
        },
        showReport: function(id) {
          Cairo.Reports.Report.Controller.show(id);
        }
  };

  @for(routerEntry <- router) {
        Cairo.on("@{routerEntry.handlerObject.toLowerCase}:@{routerEntry.action}", function(@routerEntry.pathParam){
            Cairo.navigate(@Html(routerEntry.pathForNavigate));
            API.@{routerEntry.action}@{routerEntry.handlerObject}(@routerEntry.pathParam);
        });
        @if(!routerEntry.path2.isEmpty){
            Cairo.on("@{routerEntry.handlerObject.toLowerCase}:@{routerEntry.action2}", function(@routerEntry.path2Param){
                Cairo.navigate(@Html(routerEntry.path2ForNavigate));
                API.@{routerEntry.action2}@{routerEntry.handlerObject}(@routerEntry.path2Param);
            });
        }
        @for(re <- routerEntry.wizards.filter(_.routerEntry.isDefined).map(_.routerEntry.get)) {
            Cairo.on("@{re.handlerObject.toLowerCase}:@{re.action2}", function(@re.path2Param){
                Cairo.navigate(@Html(re.path2ForNavigate));
                API.@{re.action2}@{re.handlerObject}(@re.path2Param);
            });
        }
  }

  Cairo.on("about:show", function(){
    Cairo.navigate("about");
    API.showAbout();
  });

  Cairo.on("desktop:show", function(){
    Cairo.navigate("desktop");
    API.showDesktop();
  });

  Cairo.addInitializer(function(){
    new CairoRouterApp.Router({
      controller: API
    });
  });
});
