@(router: List[models.cairo.RouterEntry])

Cairo.module("CairoRouterApp", function(CairoRouterApp, Cairo, Backbone, Marionette, $, _){
  CairoRouterApp.Router = Marionette.AppRouter.extend({
    appRoutes: {
      @for(routerEntry <- router) {
         "@{routerEntry.path}": "@{routerEntry.action}@{routerEntry.handlerObject}",
         @if(!routerEntry.path2.isEmpty){"@{routerEntry.path2}": "@{routerEntry.action2}@{routerEntry.handlerObject}",}
      }
        "about" : "showAbout"
    }
  });

  var API = {
    @for(routerEntry <- router) {
        @{routerEntry.action}@{routerEntry.handlerObject}: function(@routerEntry.pathParam){
          Cairo.@{routerEntry.handlerObject}.@{routerEntry.action.capitalize}.Controller.@{routerEntry.action}(@routerEntry.pathParam);
          Cairo.execute("set:active:header", "@{routerEntry.handlerObject}");
        },
        @if(!routerEntry.path2.isEmpty){
            @{routerEntry.action2}@{routerEntry.handlerObject}: function(@routerEntry.path2Param){
                Cairo.@{routerEntry.handlerObject}.@{routerEntry.action2.capitalize}.Controller.@{routerEntry.action2}(@routerEntry.path2Param);
                Cairo.execute("set:active:header", "@{routerEntry.handlerObject}");
            },
        }
    }
        showAbout: function(id){
          Cairo.About.Show.Controller.showAbout();
          Cairo.execute("set:active:header", "about");
        }
  };

  @for(routerEntry <- router) {
        Cairo.on("@{routerEntry.handlerObject.toLowerCase}:@{routerEntry.action}", function(@routerEntry.pathParam){
            Cairo.navigate(@Html(routerEntry.pathForNavigate));
            API.@{routerEntry.action}@{routerEntry.handlerObject}(@routerEntry.pathParam);
        });
        @if(!routerEntry.path2.isEmpty){
            Cairo.on("@{routerEntry.handlerObject.toLowerCase}:@{routerEntry.action2}", function(@routerEntry.path2Param){
                Cairo.navigate(@Html(routerEntry.path2ForNavigate));
                API.@{routerEntry.action2}@{routerEntry.handlerObject}(@routerEntry.path2Param);
            });
        }
  }

  Cairo.on("about:show", function(){
    Cairo.navigate("about");
    API.showAbout();
  });

  Cairo.addInitializer(function(){
    new CairoRouterApp.Router({
      controller: API
    });
  });
});

Cairo.start();
